/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2015, 9:21:01 AM
    Author     : leonardo
*/


body {
  /* padding-top: 0px; */
  padding-bottom: 40px;
  background-color: #eee;
  background-image: url('../img/background2.jpg');
  background-size:100% auto;
  margin-top: 0px;
}

body {}

.bot{
  
  width: 40%;
  
  alignment-adjust: auto;
  margin-left: 200px;
}

.form-create {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(51,51,51);
}





.form-create .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-create .form-control:focus {
  z-index: 2;
}

.form-create input[type="text"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-create input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


form-create input[type="textarea"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 300px; 

}

.alert {
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 15px;
 
  
}

.text-area{
  
  height: 200px;
  width: 300px;
  padding-bottom: 5px;
  margin: 10px;
  
}